:root {
  --color-accent: #FFD08A;
  --color-bg-dark: #22211C;
  --color-bg-submenu: #333129;
  --color-card: #AFAFA7;
  --color-text-dark-bg: #CDCCC8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-dark-bg);
  background-color: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button{
  border-radius: 8px;
  border: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-dark-bg);
    background-color: var(--color-bg-dark);
  }
  a:hover {
    color: var(--color-accent);
  }
 
}
